 /*cat.css*/
   body {
	   text-align:center;
	  background-color: black;
   }
   img {
	content:url(baymax.png);
	width:70vw;

}
.baymax {
	visibility:hidden;
}
}
@media only screen and (min-width: 410px) and (max-width:600px) {
	body {
	   text-align:center;

	
   }
  img {
	content:url(https://user-images.githubusercontent.com/28358578/30506104-fa536316-9a2d-11e7-97fd-839e8df1a518.png);
	width:50vw;
	
}
.baymax {
	visibility:hidden;
}
}
@media only screen and (min-width: 400px) and (max-width:500px) {
   body {
	   text-align:center;
	 
   }
   img {
	content:url(baymax2.png);
	width:80vw;

}
 
